<div class="wrapper">
  <div class="popUp">
    <div class="popUp__header">
      <span class="header__text">CONGRATS!</span>
      <button class="header__button" (click)="closeWindow()"></button>
    </div>
    <div class="popUp__content">
      <div class="content__image winner"></div>
      <p class="content__text">You are WINNER!</p>
      <button class="content__button">
        <span class="button__font" (click)="restartWindow()">RESTART</span> 
      </button>
    </div>
    <div class="popUp__footer"></div>
  </div>
</div>
