<div class="wrapper">
  <div class="popup">
    <div class="header">
      <h2 class="title">{{ getTitle() }}</h2>
      <button class="close_button" (click)="closeWindow()"></button>
    </div>
    <div class="popup_content">
      <div class="content_container">
        <div class="image" [ngClass]="getClass()"></div>
        <p class="content_text">{{ getText() }}</p>
      </div>
      <button class="button" (click)="restartWindow()" *ngIf="!getButtons()">
        <span class="button_font">TRY AGAIN</span>
      </button>
      <div class="buttons_container" *ngIf="getButtons()">
        <button class="button" (click)="restartWindow()">
          <span class="button_font">YES</span>
        </button>
        <button class="button red" (click)="closeWindow()">
          <span class="button_font">NO</span>
        </button>
      </div>
    </div>
  </div>
</div>
