<div class="wrapper">
  <div class="popup">
    <div class="header">
      <h1 class="title">{{ getTitle() }}</h1>
      <button class="close_button" (click)="closeWindow()"></button>
    </div>
    <div class="popup_content">
      <div class="content_container">
        <div class="image" [ngClass]="getClass()"></div>
        <p class="content_text">{{ getText() }}</p>
      </div>
      <button class="button" (click)="restartWindow()" *ngIf="!(this.popUpState === 'restart')">
        <span class="button_font">{{ this.popUpState === 'win' ? 'RESTART' : 'TRY AGAIN' }}</span>
      </button>
      <div class="buttons_container" *ngIf="this.popUpState === 'restart'">
        <button class="button" (click)="restartWindow()">
          <span class="button_font">YES</span>
        </button>
        <button class="button red" (click)="closeWindow()">
          <span class="button_font">NO</span>
        </button>
      </div>
    </div>
  </div>
</div>
