<div class="game">
  <div class="game_container">
    <div class="header">
      <h1 class="title">{{isFieldSizeSmall ? '5x5' : '9x9'}}</h1>
      <div class="header_navigation">
        <button class="button orange" (click)="swapSize()">
          <span class="button_text orange_font">Swap to {{!isFieldSizeSmall ? '5x5' : '9x9'}}</span>
        </button>
        <button class="button blue" (click)="stepBack()">
          <span class="button_text blue_font">STEP BACK</span>
        </button>
        <button class="button orange" (click)="restartPopUp()">
          <span class="button_text orange_font">RESTART</span>
        </button>
      </div>
    </div>
    <div class="field" [ngClass]="isFieldSizeSmall ? 'five' : 'nine'">
      <div class="cell" [ngClass]="getCellSize(cell)" (click)="makeMove(i)" *ngFor="let cell of cells; let i = index">
        <div [ngClass]="getDotClass(cell)">
          <span class="font" *ngIf="isCellVisitedAndActive(cell)">{{ moveCounts[i] }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-pop-up *ngIf="popUp" (close)="closePopUp()" (restart)="restartGame()" [popUp]="popUp"></app-pop-up>