@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.game {
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(./../images/bgrd.png);
	background-size: cover;
	overflow: hidden;
}

.game_container {
	width: 860px;
	height: 946px;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
	background: linear-gradient(111.49deg, rgba(255, 255, 255, 0.4) -8.95%, rgba(255, 255, 255, 0.01) 114%);
	backdrop-filter: blur(50px);
	border: 2px solid rgb(230, 230, 230);
	border-radius: 25px;
}

.ellipse_blue {
	width: 428px;
	height: 428px;
	position: absolute;
	left: 310px;
	top: 98px;
	z-index: 1;
	border-radius: 100%;
	background: linear-gradient(90deg, #FC00FF 0%, #00DBDE 100%);
	transform: rotate(-105deg);
}

.ellipse_orange {
	width: 380px;
	height: 380px;
	position: absolute;
	left: 1226px;
	top: 802px;
	z-index: 1;
	border-radius: 100%;
	background: linear-gradient(90deg, #E65C00 0%, #F9D423 100%);
}

.header {
	padding-top: 35px;
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
}

.title {
	font-family: 'Poppins', sans-serif;
	font-size: 48px;
	text-transform: capitalize;
	background: linear-gradient(180deg, #296399 54.68%, #fff 187.46%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.header_navigation {
	width: 607px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button {
	width: 192px;
	height: 48px;
	border: none;
	border-radius: 15px;
	background-blend-mode: overlay, normal;
	cursor: pointer;
}

.orange {
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F96E03;
	filter: drop-shadow(0px 2px 0px  #F85104);
}

.blue {
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #265DC7;
	filter: drop-shadow(0px 2px 0px  #2584F4);
}

.button_text {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	text-shadow: 2.07958px 0px 6.23875px rgba(0, 0, 0, 0.35), 0px 2.07958px 4.15917px rgba(0, 0, 0, 0.24), 0px 2.07958px 2.07958px rgba(0, 0, 0, 0.22), 0px 2.07958px 4.15917px rgba(0, 0, 0, 0.2);
}

.orange_font {
	color: rgba(255, 238, 216, 1);
}

.blue_font {
	color: rgba(182, 246, 255, 1);
}

.field {
	margin: 25px 40px 40px 40px;
	padding-left: 12px;
	width: 780px;
	height: 780px;
	align-content: center;
	background: linear-gradient(180deg, #AAC2FF 0%, #C81BF1 100%);
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	-webkit-backdrop-filter: blur(50.5px);
	backdrop-filter: blur(50.5px);
	border-radius: 20px;
}

.five {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(5, 130px);
}

.nine {
	display: grid;
	gap: 15px 48px;
	grid-template-columns: repeat(9, 39px);
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(180deg, #FFFFFF -31.99%, rgba(255, 255, 255, 0) 113.98%);
	filter: drop-shadow(-21px 15px 50px rgba(29, 38, 70, 0.25));
	backdrop-filter: blur(7px);
	border-radius: 16px;
	cursor: pointer;
}

.small {
	width: 70px;
	height: 70px;
}

.large {
	width: 128px;
	height: 128px;
}

.posible {
	background: linear-gradient(180deg, rgba(237, 199, 255, 0.46) 0.89%, rgba(171, 119, 255, 0.74) 100.88%);
}

.font {
	font-family: 'Poppins';
	font-style: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
}

.available::content {
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(./../images/active_dot.png);
	background-size: cover;
}

.active::content {
	width: 56px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(./../images/active_dot.png);
	background-size: cover;
}

.visited::content {
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(./../images/inactive_dot.png);
	background-size: cover;
}