<main class="game">
  <div  class="game__ellipse_blue"></div>
  <div class="game__container">
    <div class="game__header">
      <h1 class="header__title">{{title}}</h1>
      <div class="header__navigation">
        <button class="header__button blue">
          <span class="button__text blue_font">STEP BACK</span>
        </button>
        <button class="header__button orange" (click)="restartGame()">
          <span class="button__text orange_font">RESTART</span>
        </button>
      </div>
    </div>
    <div class="game__field">
      <div class="field__cell" [ngClass]="{cell__possible: cell === 2}" (click)="getPosition($event.target)" *ngFor="let cell of field" #square>
        <span class="cell__font" [ngClass]="getCellClass(cell)" (click)="getPosition(square)">{{cell}}</span>
      </div>
    </div>
  </div>
  <div  class="game__ellipse_orange"></div>
</main>